[submodule "autogoal-remote"]
	path = autogoal-remote
	url = https://github.com/geeksLabTech/autogoal-remote
[submodule "autogoal-contrib"]
	path = autogoal-contrib
	url = https://github.com/autogoal/autogoal-contrib
[submodule "vendor/illiterate"]
	path = vendor/illiterate
	url = https://github.com/apiad/illiterate